* {background-color: rgb(7, 121, 54);}


.main-header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
    border-bottom: 10px solid rgb(108, 241, 31);
    
}



img{
    width: 200px;
    width: 200px;
    float: left;
    padding: 55px;
    align-content: flex-start;  
    
}


#name{
    font-family: sans-serif, serif, Arial, Helvetica;
    
}



#header-nav{
    float: right;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-top: 50px;
    font-size: 30px;
}


nav li{
    display: inline-block;
    padding: 5px 5px;
    flex-wrap: wrap;
}

.second-header{
    display: flex;
    padding: 15;
    background-image: url(./images/matrix.jpg);
    
}


.block{
    display: flex;
    flex: 1 2;
    justify-content: space-around;
    width: 60%;
    flex-direction: row;
    font-size: 26px;
      
}

.article{
    width: 300px;
    height: 300px;
}

.div, .my-work{
border-right: 8px solid  rgb(2, 29, 19) ;
}


.div-look, .content{
    display: flex;
    height: auto;
    margin: 30px;
    

}
 

.content{
    display: flex;
    width: 70%;
    padding: 60px;
    
}


p{
    font-size: 1.5em;
    text-decoration-line: none;
}

.contact-me{
    display: inline-flex;
    flex-wrap: wrap;
}

